<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">

	<filter>
		<filter-name>Parameter-Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Parameter-Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

  <display-name>Lehsetreff</display-name>

  <!--login-->
	<servlet>  
		<servlet-name>LoginServlet</servlet-name>  
		<servlet-class>com.lehsetreff.LoginServlet</servlet-class>  
	  </servlet>  
	  
	  <servlet-mapping>  
		<servlet-name>LoginServlet</servlet-name>  
		<url-pattern>/login</url-pattern>  
	  </servlet-mapping> 


	<servlet>  
			<servlet-name>UserRoleServlet</servlet-name>  
			<servlet-class>com.lehsetreff.UserRoleServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>UserRoleServlet</servlet-name>  
			<url-pattern>/userRole</url-pattern>  
		</servlet-mapping> 
	<servlet>  
			<servlet-name>MessagesServlet</servlet-name>  
			<servlet-class>com.lehsetreff.MessagesServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>MessagesServlet</servlet-name> 
			<url-pattern>/messages</url-pattern>  
		</servlet-mapping> 

	<servlet>  
			<servlet-name>UsersServlet</servlet-name>  
			<servlet-class>com.lehsetreff.UsersServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>UsersServlet</servlet-name> 
			<url-pattern>/users</url-pattern>  
		</servlet-mapping> 
	
	<servlet>  
			<servlet-name>MembersServlet</servlet-name>  
			<servlet-class>com.lehsetreff.MembersServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>MembersServlet</servlet-name> 
			<url-pattern>/members</url-pattern>  
		</servlet-mapping> 

	<servlet>  
			<servlet-name>ThreadServlet</servlet-name>  
			<servlet-class>com.lehsetreff.ThreadServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>ThreadServlet</servlet-name> 
			<url-pattern>/threads</url-pattern>  
		</servlet-mapping>

	<servlet>  
			<servlet-name>ThreadGroupServlet</servlet-name>  
			<servlet-class>com.lehsetreff.ThreadGroupServlet</servlet-class>  
		</servlet>  
		
		<servlet-mapping>  
			<servlet-name>ThreadGroupServlet</servlet-name> 
			<url-pattern>/threadGroups</url-pattern>  
		</servlet-mapping>  
		
		<filter>
			<filter-name>CorsFilter</filter-name>
			<filter-class>com.meshenger.CorsFilter</filter-class>
		</filter>
		<filter-mapping>
			<filter-name>CorsFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
</web-app>
