.sidebar {
  margin: 10px;

  border-radius: 10px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
}

.sidebar {
  overflow-x: hidden;
  position: absolute;
  top: 40px;
  height: calc(100% - 0px);
  width: 40px;
  right: 25px;

  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
}

#rightPart {
  transition: margin-left 0.5s;
}
