@media (prefers-color-scheme: dark) {
  body {
    /* color: aliceblue;
    background-color: midnightblue; */
  }
}

body {
  color: midnightblue;
  background-color: aliceblue;
}

.has-Error {
  border-color: red;
}

.sidebar-link {
  cursor: pointer;
}

.content-wrapper {
  margin-right: 10px;
}

.marginLeft10 {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.sub-link {
  text-decoration: none;
}

.messageDiv small {
  color: gray;
  font-size: small;
}

.messageDiv h5 {
  font-weight: bold;
}

.messageDiv {
  padding: 0px 10px 10px 10px;
}
