@media (prefers-color-scheme: dark) {
  body {
    color: aliceblue;
    background-color: midnightblue;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: midnightblue;
    background-color: aliceblue;
  }
}

body {
  margin: 20px;
}

.has-Error {
  border-color: red;
}
